* {
	margin: 0;
	padding: 0;
}
/*
body,
button

/*, input, optgroup, select, textarea
	{
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
/*
.hero {
	display: flex;
	justify-content: space-between;
	align-items: centr;
	background-color: #00d1b2;
	color: #fff;
	height: 52px;
}*/
/*
.logo {
	display: flex;
	justify-content: space-between;
}*/
/*
.hero i {
	color: rgb(255, 255, 255);
	font-size: 2rem;
	margin-right: 9px;
}*/
/*
.titulo-h1 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.125;
}*/
/*
nav {
	overflow: hidden;
} */

/*   VER ESTOS ESTILOS!!!!!!!!!!!!!!!!!!
nav div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}*/
/*
button {
	margin: 0;
	padding: 0%;
	background-color: transparent;
	border: none;
}*/
/*
#abrir,
#cerrar .fas {
	cursor: pointer;
	display: block;
}*/
/*
#cerrar {
	/*  cursor: pointer;
	display: none;   SOLO DEJE ESTE ESTILO !!!!!
	/*	height: 3.25rem;
	position: relative;
	width: 3.25rem;
	margin-left: auto;
}*/
/*
#nav-items {
	
	display: none;
	color: #4a4a4a;
	background-color: #fff;
	width: 100%;
	position: absolute;
	top: 52px;
	height: 130px;
}*/
/*
.navbar-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #4a4a4a;
	line-height: 1.5;
	padding: .5rem .75rem;
}*/
/*
.iconos{
	cursor: pointer;
	display: block;
	position: relative;
	width: 3.25rem;
	padding: 10px;
	text-decoration: none;
}*/
/*
.navbar-item i {
	color: #4a4a4a;
	display: block;
	cursor: pointer;
	padding-left: 10px;
	font-size: 1rem;
}*/

#barra-navegacion {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}

.fa-piggy-bank {
	margin-left: 12px;
}
/* FIN HEADER*/

@media (max-width: 768px) {
	.column.col-6 {
	  width: 100%; 
	}
	
	.box{
		
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
		margin-bottom: 20px;
	  }
	  .box_operaciones{
  
		width: 100%;
		max-width: 400px;
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
		overflow: hidden;
		margin: 0 auto;
	  }
	  
	.button_operacion {
		justify-content: flex-end;
		background-color: #00D1B2 ;
		padding: 4px;
		border-radius: 5px;
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	  
    }
	.button_operacion:hover{
		background-color: #7fff00;
	  }
	.hidden {
        display: none; /* Oculta el contenido de la tarjeta de operaciones en dispositivos móviles */
    }
	.text-md-end {
        text-align: end !important;
    }
	
/* estilos a los campos */
.label {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  
  .campos {
	margin-bottom: 15px;
  }
  
  .form-control input[type="text"],
  .form-control input[type="date"],
  .form-control select {
	width: 100%;
	padding: 5px;
	border: 1px solid #09473e;
	border-radius: 5px;
   
  }
  
  
  .title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
  }
  
  .ocultar_filtros a {
	color: #007bff;
	text-decoration: none;
  }
  
  .ocultar-filtros a:hover {
	text-decoration: underline;
  }
  }