
/* ARCHIVO NORMALIZE*/

@import url("./normalize.css");

/*import letras*/

/*@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 



@import url("./mobile.css");
@import url("./tablet.css") screen and (min-width:768px);
@import url("./desktop.css") screen and (min-width:1024px);
 */

/*Clases seccion CATEGORIAS */
.ColumCateg{
 
  height: 2em;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  background-color: #ebfffc;
  color: #00947e;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: calc(.2rem + 1.5vw); 
  justify-content: center;
  line-height: 1.5;
  white-space: nowrap;
}

.btnElimEdit{
  margin-right: 1rem;
  font-size: calc(.2rem + 1.5vw); 
  color: #3273dc;
  cursor: pointer;
}


/* Utilizamos clases en comun para dar estilos en comun a la seccion REPORTES */

 .titulosH4{
  font-size: calc(.5rem + 1.5vw); /*ajustar el tamaño del texto basado en el tamaño de la ventana del navegador o del contenedor*/
  font-weight: 600;
  line-height: 1.125; 
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
 }
 .seccReportes{
   padding: 3rem 1rem;
   margin-bottom: 1.5rem;
   object-fit: cover;
 }

 .filaXdiv{
  display: flex;
  align-items: center;
  margin-bottom: calc(1.5rem - .75rem);
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
  font-size: calc(.2rem + 1.5vw);
 }

.TitulosColCateg{
  width: 50%;
  padding: .75rem;
  font-weight: 600;
}

.catMayores{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: calc(.2rem + 1.5vw);
  height: 2em;
  line-height: 1.5;
  padding: .75em;
  background-color: #ebfffc;
}

.ColumTotaCat{
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: right;
  font-weight: 600;
  font-size: calc(.2rem + 1.5vw);
  padding-left: 1.5rem;
  line-height: 1.5;
  display: inline-flex;
  white-space: nowrap;
}

 .hidden{
   display: none;
 }



/* Operaciones */

 #ocultarFiltro{

  cursor: pointer;
 }

 #ocultarFiltro:hover{
  color: rgb(40, 41, 41);
 }