@media (min-width: 768px) and (max-width: 1024px) {
    .box{
		
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
		margin-bottom: 20px;
	  }
	  .box_operaciones{
  
		width: 100%;
		max-width: 400px;
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
		overflow: hidden;
		margin: 0 auto;
	  }
	  
	.button_operacion {
		justify-content: flex-end;
		background-color: #00D1B2 ;
		padding: 4px;
		border-radius: 5px;
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	  
    }
	.button_operacion:hover{
		background-color: #7fff00;
	  }
    .hidden {
        display: none; 
    }
    
/* estilos a los campos */
.label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  
  .campos {
    margin-bottom: 15px;
  }
  
  .form-control input[type="text"],
  .form-control input[type="date"],
  .form-control select {
    width: 100%;
    padding: 5px;
    border: 1px solid #09473e;
    border-radius: 5px;
   
  }
  
  
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .ocultar_filtros a {
    color: #007bff;
    text-decoration: none;
  }
  
  .ocultar-filtros a:hover {
    text-decoration: underline;
  }
  /* .boton_agregar {
	margin: 10px;
	padding: 0;
	background-color:#00D1B2;
	border: none;

}

.boton_agregar:hover{
  background-color: #09473e;
  font-style: italic;
  font-weight: 900;
}

.boton_cancelar{
  background-color: gray;
  margin: 10px;
}
  .operaciones{
    width: 50%;
  } */
}